annotated-doc==0.0.4
annotated-types==0.7.0
colorama==0.4.6
iniconfig==2.3.0
markdown-it-py==4.2.0
mdurl==0.1.2
numpy==2.4.6
packaging==26.2
pandas==2.3.3
pluggy==1.6.0
pyarrow==24.0.0
pydantic==2.13.4
pydantic-settings==2.14.1
pydantic_core==2.46.4
Pygments==2.20.0
pytest==9.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.2
rich==15.0.0
ruff==0.15.17
shellingham==1.5.4
six==1.17.0
typer==0.26.7
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
wheel==0.47.0
